---
layout: default
title: "首页"

---

<div class="raw">
	 <div class="col-md-9 left_container">
		 <div id="post_list">
			 <ul  class="posts">
			   {% for post in site.posts %}
			     <li class="each_list_item">
			     
       				{% assign m = post.date | date: "%-m" %}
					{% case m %}
					  {% when '1' %}{% assign month_str = '一月'%}
					  {% when '2' %}{% assign month_str = '二月'%}
					  {% when '3' %}{% assign month_str = '三月'%}
					  {% when '4' %}{% assign month_str = '四月'%}
					  {% when '5' %}{% assign month_str = '五月'%}
					  {% when '6' %}{% assign month_str = '六月'%}
					  {% when '7' %}{% assign month_str = '七月'%}
					  {% when '8' %}{% assign month_str = '八月'%}
					  {% when '9' %}{% assign month_str = '九月'%}
					  {% when '10' %}{% assign month_str = '十月'%}
					  {% when '11' %}{% assign month_str = '十一月'%}
					  {% when '12' %}{% assign month_str = '十二月'%}
					{% endcase %} 		     	
			     
			     	<p class="date">{{month_str}}<b>{{ post.date | date: "%d" }}</b></p>
			     
			     	<div class="title">
			     		<a href="{{ post.url }}">{{ post.title }}</a>
			     		<span style="font-size: 14px;font-weight: normal;"></span>
			     	</div>
					{% if post.content contains '<!--more-->' %}
						<p>{{ post.content | split:'<!--more-->' | first }}</p>
					{% else %}
						<p>{{ post.excerpt }}</p>
					{% endif %}
			     		
			     </li>
			   {% endfor %}
			 </ul>
		 </div>
	 </div>
	 <div class="col-md-3 right_container">
	 	<div class="sideblock">
	 		<h3>文章归档</h3>
			<ul>
        	{% assign counter = 0 %}
        	
			{% for post in site.posts %}
				
    			{% capture month %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
    			{% capture pmonth %}{{ post.previous.date | date: '%Y-%m' }}{% endcapture %}
        		
				{% assign counter=counter | plus:1 %} 
				     		
        		{% if month != pmonth %}
        			<li>
        				<a href="/archive.html#{{ month }}">
        				{% assign m = post.date | date: "%-m" %}
						{% case m %}
						  {% when '1' %}{% assign month_str = '一月'%}
						  {% when '2' %}{% assign month_str = '二月'%}
						  {% when '3' %}{% assign month_str = '三月'%}
						  {% when '4' %}{% assign month_str = '四月'%}
						  {% when '5' %}{% assign month_str = '五月'%}
						  {% when '6' %}{% assign month_str = '六月'%}
						  {% when '7' %}{% assign month_str = '七月'%}
						  {% when '8' %}{% assign month_str = '八月'%}
						  {% when '9' %}{% assign month_str = '九月'%}
						  {% when '10' %}{% assign month_str = '十月'%}
						  {% when '11' %}{% assign month_str = '十一月'%}
						  {% when '12' %}{% assign month_str = '十二月'%}
						{% endcase %}      				
						{{ post.date | date: "%Y 年" }}{{month_str}}
        				</a> ({{counter}})
        			</li>
					{% assign counter = 0 %}
				{% else %}
        		{% endif %}
        		
			{% endfor %}
			</ul>
	 	</div>
	 </div>
</div>

