<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }} - 专注安卓性能优化以及最佳实践的</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<!-- 
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.cerulean.min.css" />
	 -->
	<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/toc.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="/assets/css/syntax.css" />
	<link rel="stylesheet" href="/assets/css/black.css" />
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/assets/js/jquery.toc.js"></script>
</head>
<body>

	<!-- header -->
	<div class="container">
		<div id="header">
			<div class="logo ">
				<img alt="" src="/images/logo.png">
			</div>
			<div class="title">
				<h1>Android-Performance.com</h1>
				<h2>一个只关注安卓性能优化以及最佳实践的Blog</h2>
			</div>
			<div class="nav">
				<ul>
					{% case page.path %}
						  {% when 'index.html' %}{% assign index_active_class = "active" %}
						  {% when 'archive.html' %}{% assign archive_active_class = "active" %}
					{% endcase %}
					<li>
						<a href="/" class="{{index_active_class}}">主页</a></li>
					<li>
						<a href="/archive.html" class="{{archive_active_class}}">归档</a>
					</li>
				</ul>
			</div>
			 <div class="clearfix"></div>
		</div>
		
		<div class="clearfix">
			{{ content }}
		</div>
		
		<div id="footer">
				© 2013–2014			
		</div>
	</div>
	<div style="display: none;" >
	<script type="text/javascript">
	var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fe4e170c12e7c50f61b4e5b193cbd5ec8' type='text/javascript'%3E%3C/script%3E"));
	</script>
	</div>
</body>
</html>
